* {
    padding:0;
    margin:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
img {
    max-width:100%;
}

/*== Start sliders ==*/
.slider-container {
    max-width:1170px;
    position: relative;
    margin:50px auto;
}
/*.slider {display: none;}*/
.slider img {}
.number-text {
    color: #f2f2f2;
    font-size: 12px;
    padding:8px 12px;
    position: absolute;
    top:0;
}
.caption {
    color: #f2f2f2;
    font-size: 18px;
    position: absolute;
    bottom:22px;
    text-align: center;
    width:100%;
    background-color: rgba(0,0,0,0.5);
    padding-top: 15px;
    padding-bottom: 15px;
}
/*== End sliders ==*/

/*== Start slider Arrow/Dot ==*/
.slider-arrow {}
.prv, .next {
    cursor: pointer;
    position: absolute;
    top:50%;
    width:auto;
    margin-top:-22px;
    padding:16px;
    color:#fff;
    font-weight: 700;
    font-size:18px;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}
.next {
    right:0;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
.prv:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.slider-dot {
    text-align: center;
}
.dot {
    cursor: pointer;
    height:13px;
    width:13px;
    margin:0 2px;
    background-color: #bbb;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    -webkit-transition: background-color 0.6s ease;
    -moz-transition: background-color 0.6s ease;
    -ms-transition: background-color 0.6s ease;
    -o-transition: background-color 0.6s ease;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
/*== End slider Arrow/Dot ==*/

/*== Start Fading Animation ==*/
.fade {
    -webkit-animation-name: fade;
    -moz-animation-name: fade;
    -o-animation-name: fade;
    animation-name: fade;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -o-animation-duration: 1.5s;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    form {opacity: .4}
    to {opacity:1;}
}
@-moz-keyframes fade {
    form {opacity: .4}
    to {opacity:1;}
}
@-ms-keyframes fade {
    form {opacity: .4}
    to {opacity:1;}
}
@keyframes fade {
    form {opacity: 0.4}
    to {opacity: 1}
}
/*== End Fading Animation ==*/